<%- include("partials/head") %>

    <body>
        <!--Header reutilizable-->
        <header>
            <!--Primer bloque -->
            <div class="bloque_sup">
                <div id="logo"><a href="/"><img src="/img/logo-1.jpg" alt="Logo"></a></div>
                <div class="buscador hidden_top">
                    <div class="interno"><input type="text" placeholder="Buscar producto,Marca"><i
                            class="fa-solid fa-magnifying-glass"></i></div>
                </div>
                <div class="botonera">
                    <div>
                        <a href="/login"><i class="fa-regular fa-user"></i>
                            <p class="hidden_p">Mi cuenta</p>
                        </a>
                        <a href="/product/cart"><i class="fa-solid fa-bag-shopping"></i>
                            <p class="hidden_p">Mi carrito</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="bloque_bot">
                <div id="menu">
                    <input type="checkbox" id="check">
                    <label for="check" id="checkbtn"><i class="fa-solid fa-bars"></i></label>
                    <ul id="menu_desplegado">
                        <li class="categoria_gral"><a href="#">Categorias</a></li>
                        <li><a href="#">MotherBoards</a></li>
                        <li><a href="#">Procesadores</a></li>
                        <li><a href="#">Memorias RAM</a></li>
                        <li><a href="#">Fuentes y Gabinetes</a></li>
                        <li><a href="#">HDD y SSD</a></li>
                        <li><a href="#">Placas de video</a></li>
                        <li class="categoria_gral"><a href="#">Perifericos</a></li>
                        <li>Monitores</li>
                        <li>Teclados y Mouses</li>
                        <li>UPS</li>
                        <li>Sillas Gamer</li>
                        <li class="categoria_gral"><a href="#">PCs Armadas</a></li>
                        <li>PC Basica</li>
                        <li>PC Gama Media</li>
                        <li>PC Gama Alta</li>
                        <li class="categoria_gral"><a href="#">Ofertas</a></li>
                        <li class="categoria_gral"><a href="#">Ayuda</a></li>
                        <li>Servicio Tecnico</li>
                        <li>Quiero Comunicarme</li>
                    </ul>
                </div>
                <div class="buscador">
                    <div class="interno"><input type="text" placeholder="Buscar producto,Marca"><i
                            class="fa-solid fa-magnifying-glass"></i></div>
                </div>
            </div>

        </header>
        <div class="container_nav">
            <nav class="hidden">
                <ul>
                    <li>
                        <input type="checkbox" id="check_v2"><label for="check_v2">Categorias</label>
                        <ul class="subcategory">
                            <li><a href="#">MotherBoards</a></li>
                            <li><a href="#">Procesadores</a></li>
                            <li><a href="#">Memorias RAM</a></li>
                            <li><a href="#">Fuentes y Gabinetes</a></li>
                            <li><a href="#">HDD y SSD</a></li>
                            <li><a href="#">Placas de video</a></li>
                        </ul>
                    </li>
                    <li>
                        <input type="checkbox" id="check_v3"><label for="check_v3">Perifericos</label>
                        <ul class="subcategory">
                            <li><a href="#">Monitores</a></li>
                            <li><a href="#">Teclados y Mouses</a></li>
                            <li><a href="#">UPS</a></li>
                            <li><a href="#">Fuentes y Gabinetes</a></li>
                            <li><a href="#">HDD y SSD</a></li>
                            <li><a href="#">Sillas Gamer</a></li>
                        </ul>
                    </li>
                    <li>
                        <input type="checkbox" id="check_v4"><label for="check_v4">PCs Armadas</label>
                        <ul class="subcategory">
                            <li><a href="#">PC Basica</a></li>
                            <li><a href="#">PC Gama Media</a></li>
                            <li><a href="#">PC Gama alta</a></li>
                        </ul>
                    </li>
                    <li>
                        <input type="checkbox" id="check_v5"><label for="check_v5">Ofertas</label>
                    </li>
                    <li>
                        <input type="checkbox" id="check_v6"><label for="check_v6">Ayuda</label>
                        <ul class="subcategory">
                            <li><a href="#">Servicio Tecnico</a></li>
                            <li><a href="#">Quiero Comunicarme</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <main id="cart">
            <div class="cart_category_list">
                <div class="cc_list_contain">
                    <h3><i class="fa-solid fa-cart-shopping"></i>Mi carrito</h3>
                    <div class="cc_list prod"><i class="fa-solid fa-rectangle-list"></i>
                        <p>Mis Productos</p>
                    </div>
                    <div class="cc_list"><i class="fa-solid fa-truck-fast"></i>
                        <p>Mi entrega</p>
                    </div>
                    <div class="cc_list"><i class="fa-solid fa-money-bill"></i>
                        <p>Forma de pago</p>
                    </div>
                    <div class="cc_list" style="background-color: rgb(43, 235, 9);"><i
                            class="fa-regular fa-square-check"></i>
                        <p>Resumen</p>
                    </div>
                </div>
            </div>
            <div class="cart_contain">
                <p><a href="/">Seguir Comprando</a></p>
                <div class="cart_contain_title prod"><i class="fa-solid fa-rectangle-list"></i>
                    <h3>Resumen</h3>
                </div>
                <div class="cart_contain_resume">
                    <div class="cart_contain_prod_img"><img src="/img/article-1.jpeg" alt=""></div>
                    <div class="cart_contain_prod">
                        <h6>Producto</h6>
                        <p>Procesador Intel i7 13900</p>
                    </div>
                    <div class="cart_contain_count">
                        <h6>Cantidad</h6><input type="number">
                    </div>
                    <div class="cart_contain_total">
                        <h6>Total</h6>
                        <p>$55555</p>
                    </div>
                    <div class="cart_contain_cancel"><button class="none"><i
                                class="fa-solid fa-square-xmark"></i></button></div>
                </div>
                <div class="cart_contain_option_ship">
                    <div class="cart_contain_prod_img"><i class="fa-solid fa-truck-fast"></i></div>
                    <div class="cart_contain_prod">
                        <h6>Producto</h6>
                        <p>Envio a domicilio</p>
                    </div>
                    <div class="cart_contain_count">
                        <h6>Cantidad</h6>
                        <p>1</p>
                    </div>
                    <div class="cart_contain_total">
                        <h6>Total</h6>
                        <p>$600</p>
                    </div>
                    <div class="cart_contain_cancel"><button class="none"><i
                                class="fa-solid fa-square-xmark"></i></button></div>
                </div>
                <p>Total $:56155</p>
                <div class="adress_confirm">
                    <h2>Direccion de envio</h2>
                    <form action="#" id="adress">
                        <div class="adress_top">
                            <label for="calle">Calle:</label>
                            <input type="text" name="calle" placeholder="Av. Falsa">
                            <label for="altura">Altura</label>
                            <input type="number" name="altura" placeholder="3555">
                        </div>
                        <div class="adress_bot">
                            <label for="cod-pos">Codigo Postal</label>
                            <input type="text" name="cod-pos" placeholder="Ej:1407" id="cod">
                            <label for="piso">Piso,Depto:</label>
                            <input type="text" name="piso" placeholder="Ej: Piso 2-B">
                            <label for="horario">Franja Horaria</label>
                            <input type="text" name="horario" placeholder="Ej: De 9 a 12hs">
                        </div>
                    </form>

                </div>
                <div class="ant-next">
                    <button id="ant"><a href="/cart/pay">Anterior</a></button>
                    <button id="next"><a href="/">Finalizar</a></button>
                </div>
            </div>
        </main>
        <footer>
            <div class="info__local">
                <h2 class="sub_h2">Contactanos!</h2>
                <p>Direccion: Calle falsa 123,CABA</p>
                <p>Horario de atención: Lunes a viernes de 9hs a 18hs</p>
                <p>Telefono: 1234-5678</p>
            </div>
            <div class="suscription">
                <h2 class="sub_h2">Nosotros</h2>
                <p>En Hard-Tech buscamos destacar por nuestro conocimiento e intentamos establecernos como la opción
                    ideal para sus compras de tecnología.</p>
            </div>
            <div id="social_red">
                <h2 class="sub_h2">Seguinos en nuestras Redes</h2>
                <ul>
                    <li><a href="#" class="Redes"><i class="fa-brands fa-square-facebook"></i>Facebook</a></li>
                    <li><a href="#" class="Redes"><i class="fa-brands fa-instagram"></i>Instagram</a></li>
                    <li><a href="#" class="Redes"><i class="fa-brands fa-whatsapp"></i>Whatsapp</a></li>
                </ul>
            </div>
        </footer>
        <footer class="desktop">
            <div class="footer_list cat">
                <h2>Categorias</h2>
                <nav>
                    <ul>
                        <li><a href="#">Categoria 1</a></li>
                        <li><a href="#">Categoria 2</a></li>
                        <li><a href="#">Categoria 3</a></li>
                        <li><a href="#">Categoria 4</a></li>
                        <li><a href="#">Categoria 5</a></li>
                    </ul>
                </nav>
            </div>
            <div class="footer_list mark">
                <h2>Marcas</h2>
                <nav>
                    <ul>
                        <li><a href="#">Marca 1</a></li>
                        <li><a href="#">Marca 2</a></li>
                        <li><a href="#">Marca 3</a></li>
                        <li><a href="#">Marca 4</a></li>
                        <li><a href="#">Marca 5</a></li>
                        <li><a href="#">Marca 6</a></li>
                    </ul>
                </nav>
            </div>
            <div class="footer_list us">
                <h2 class="sub_h2">Nosotros</h2>
                <p>En Hard-Tech buscamos destacar por nuestro conocimiento e intentamos establecernos como la opción
                    ideal para sus compras de tecnología.</p>
                <div class="info__local">
                    <h2 class="sub_h2">Contactanos!</h2>
                    <p>Direccion: Calle falsa 123,CABA</p>
                    <p>Horario de atención: Lunes a viernes de 9hs a 18hs</p>
                    <p>Telefono: 1234-5678</p>
                </div>
            </div>
            <div class="info__local footer_hidden">
                <div class="suscrip">
                    <h2>Suscribite</h2>
                    <input type="text" placeholder="Email">
                    <button id="fot_boton">Enviar</button>
                </div>
                <h2 class="sub_h2">Contactanos!</h2>
                <p>Direccion: Calle falsa 123,CABA</p>
                <p>Horario de atención: Lunes a viernes de 9hs a 18hs</p>
                <p>Telefono: 1234-5678</p>
            </div>
            <div class="footer_list Red">
                <h2 class="sub_h2">Seguinos en nuestras Redes</h2>
                <nav>
                    <ul>
                        <li><a href="#" class="Redes"><i class="fa-brands fa-square-facebook"></i>Facebook</a></li>
                        <li><a href="#" class="Redes"><i class="fa-brands fa-instagram"></i>Instagram</a></li>
                        <li><a href="#" class="Redes"><i class="fa-brands fa-whatsapp"></i>Whatsapp</a></li>
                    </ul>
                </nav>
            </div>
        </footer>
        <a href="#" id="whats"><img src="/img/whatsapp.png" alt="whatsapp"></a>
        <p>texto</p>
    </body>

    </html>