<%- include("partials/head") %>

    <body>
        <%- include("partials/header") %>
            <!--Header reutilizable-->

            <div class="container_nav">
                <nav class="hidden">
                    <ul>
                        <li>
                            <input type="checkbox" id="check_v2"><label for="check_v2">Categorias</label>
                            <ul class="subcategory">
                                <li><a href="#">MotherBoards</a></li>
                                <li><a href="#">Procesadores</a></li>
                                <li><a href="#">Memorias RAM</a></li>
                                <li><a href="#">Fuentes y Gabinetes</a></li>
                                <li><a href="#">HDD y SSD</a></li>
                                <li><a href="#">Placas de video</a></li>
                            </ul>
                        </li>
                        <li>
                            <input type="checkbox" id="check_v3"><label for="check_v3">Perifericos</label>
                            <ul class="subcategory">
                                <li><a href="#">Monitores</a></li>
                                <li><a href="#">Teclados y Mouses</a></li>
                                <li><a href="#">UPS</a></li>
                                <li><a href="#">Fuentes y Gabinetes</a></li>
                                <li><a href="#">HDD y SSD</a></li>
                                <li><a href="#">Sillas Gamer</a></li>
                            </ul>
                        </li>
                        <li>
                            <input type="checkbox" id="check_v4"><label for="check_v4">PCs Armadas</label>
                            <ul class="subcategory">
                                <li><a href="#">PC Basica</a></li>
                                <li><a href="#">PC Gama Media</a></li>
                                <li><a href="#">PC Gama alta</a></li>
                            </ul>
                        </li>
                        <li>
                            <input type="checkbox" id="check_v5"><label for="check_v5">Ofertas</label>
                        </li>
                        <li>
                            <input type="checkbox" id="check_v6"><label for="check_v6">Ayuda</label>
                            <ul class="subcategory">
                                <li><a href="#">Servicio Tecnico</a></li>
                                <li><a href="#">Quiero Comunicarme</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <main id="cart_ship">
                <div class="cart_category_list">
                    <div class="cc_list_contain">
                        <h3><i class="fa-solid fa-cart-shopping"></i>Mi carrito</h3>
                        <div class="cc_list prod"><i class="fa-solid fa-rectangle-list"></i>
                            <p>Mis Productos</p>
                        </div>
                        <div class="cc_list" style="background-color: rgb(43, 235, 9);"><i
                                class="fa-solid fa-truck-fast"></i>
                            <p>Mi entrega</p>
                        </div>
                        <div class="cc_list"><i class="fa-solid fa-money-bill"></i>
                            <p>Forma de pago</p>
                        </div>
                        <div class="cc_list"><i class="fa-regular fa-square-check"></i>
                            <p>Resumen</p>
                        </div>
                    </div>
                </div>
                <div class="cart_contain">
                    <p><a href="/">Seguir Comprando</a></p>
                    <div class="cart_contain_title prod"><i class="fa-solid fa-truck-fast"></i>
                        <h3>Mi entrega</h3>
                    </div>
                    <div class="cart_contain_ship">
                        <form action="#" class="cart_contain_ops">
                            <div class="cc_ship_op_1">
                                <div class="cc_ship_mark_1"><input type="radio" name="envio"><label for="envio">Punto de
                                        retiro</label></div>
                                <p>Direccion: Calle falsa 123,CABA. Horario de L a V: 9hs a 18hs</p>
                                <b>Gratis</b>
                            </div>
                            <div class="cc_ship_op_2">
                                <div class="cc_ship_mark_2"><input type="radio" name="envio"><label for="envio">Envio a
                                        Domicilio</label></div>
                                <div class="ship_barrios">
                                    <p>Calcular Envio</p>
                                    <div class="ship_barrios_select">
                                        <form action="#">
                                            <select name="barrio" id="barrio">
                                                <option value="general">Seleccione uno</option>
                                                <option value="Caballito">Caballito</option>
                                                <option value="Flores">Flores</option>
                                                <option value="Mataderos">Mataderos</option>
                                                <option value="Palermo">Palermo</option>
                                                <option value="Barracas">Barracas</option>
                                            </select>
                                            <button>Enviar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="ant-next">
                        <button id="ant"><a href="/product/cart">Anterior</a></button>
                        <button id="next"><a href="/cart/pay">Siguiente</a></button>
                    </div>
                </div>
            </main>

            <%- include("partials/footer") %>