<%- include("partials/head") %>-

<%- include("partials/header") %>

<%- include("partials/navbar") %>
<body>
<main>
    <form action="edit-product">
        <div class="container-edicion-producto">
            <input type="text" placeholder="Nombre del producto">
            <textarea name="descripcion" placeholder="Descripción" id="descripcion" cols="30" rows="10"></textarea>
            <input type="file" accept=".jpg, .jpeg, .png">
            <select name="categoria" id="categoria">
                <option value="general">Seleccione uno</option>
                <option value="Motherwards">Motherwards</option>
                <option value="Procesadores">Procesadores</option>
                <option value="Memorias">Memorias</option>
                <option value="Fuentes">Fuentes</option>
                <option value="Gabinetes">Gabinetes</option>
                <option value="Almacenamiento">Almacenamiento</option>
                <option value="Placa de video">Placa de video</option>
                <option value="Periferico">Periferico</option>
            </select>
            <select name="marca" id="marca">
                <option value="general">Seleccione uno</option>
                <option value="amd">AMD</option>
                <option value="Republic of gamers">REPUBLIC OF GAMERS</option>
            </select>
            <input type="text" placeholder="Modelo">
            <input type="number" placeholder="Precio">
            <div class="botones">
                <div class="button-confirmar">
                    <button><a href="/">Confirmar</a></button>
                </div>
                <div class="button-borrar">
                    <button><a href="/">Borrar</a></button>
                </div>
            </div>
        </div>
    </form>
</main>


<%- include("partials/footer") %>