<%- include("partials/head") %>
    <!--Head reutilizable HEAD.EJS-->


    <body>
        <%- include("partials/header") %>
            <!--Header reutlizable HEADER.EJS-->

            <div class="container_nav">
                <nav class="hidden">
                    <ul>
                        <li>
                            <input type="checkbox" id="check_v2"><label for="check_v2">Categorias</label>
                            <ul class="subcategory">
                                <li><a href="#">MotherBoards</a></li>
                                <li><a href="#">Procesadores</a></li>
                                <li><a href="#">Memorias RAM</a></li>
                                <li><a href="#">Fuentes y Gabinetes</a></li>
                                <li><a href="#">HDD y SSD</a></li>
                                <li><a href="#">Placas de video</a></li>
                            </ul>
                        </li>
                        <li>
                            <input type="checkbox" id="check_v3"><label for="check_v3">Perifericos</label>
                            <ul class="subcategory">
                                <li><a href="#">Monitores</a></li>
                                <li><a href="#">Teclados y Mouses</a></li>
                                <li><a href="#">UPS</a></li>
                                <li><a href="#">Fuentes y Gabinetes</a></li>
                                <li><a href="#">HDD y SSD</a></li>
                                <li><a href="#">Sillas Gamer</a></li>
                            </ul>
                        </li>
                        <li>
                            <input type="checkbox" id="check_v4"><label for="check_v4">PCs Armadas</label>
                            <ul class="subcategory">
                                <li><a href="#">PC Basica</a></li>
                                <li><a href="#">PC Gama Media</a></li>
                                <li><a href="#">PC Gama alta</a></li>
                            </ul>
                        </li>
                        <li>
                            <input type="checkbox" id="check_v5"><label for="check_v5">Ofertas</label>
                        </li>
                        <li>
                            <input type="checkbox" id="check_v6"><label for="check_v6">Ayuda</label>
                            <ul class="subcategory">
                                <li><a href="#">Servicio Tecnico</a></li>
                                <li><a href="#">Quiero Comunicarme</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- COdigo reutilizable NAV_BAR.EJS-->

            <div class="carrusel">
                <ul>
                    <li><a href="#"><img src="/img/Carrusel-1.jpg" alt=""></a></li>
                    <li><a href="#"><img src="/img/carrusel-2.jpg" alt=""></a></li>
                    <li><a href="#"><img src="/img/carrusel-3.jpg" alt=""></a></li>
                    <li><a href="#"><img src="/img/carrusel-4.jpg" alt=""></a></li>
                    <li><a href="#"><img src="/img/carrusel-5.jpg" alt=""></a></li>
                </ul>
            </div>
            <main>
                <h2 class="subtitulos">Formas de Pago</h2>
                <section class="formas-pago">
                    <div><i class="fa-sharp fa-solid fa-building-columns"></i><b>Trasnferencia o Deposito</b></div>
                    <div><i class="fa-solid fa-credit-card"></i><b>Tarjeta de Debito</b></div>
                    <div><i class="fa-regular fa-credit-card"></i><b>Cuotas sin interes</b></div>
                </section>
                <!--Contenido Destacados-->
                <h2 class="subtitulos">Destacados!</h2>
                <section class="destacados">
                    <div class="contenedor-dest">
                        <button class="controller"><i class="fa-solid fa-circle-chevron-left"></i></button>
                        <article>
                            <img src="/img/article-1.jpeg" alt="Procesador">
                            <div class="info-prod">
                                <h4>Procesador Intel Core i7 13700K</h4>
                                <p class="precio">Precio</p>
                                <button><a href="/product/detail">Ver mas</a></button>
                            </div>
                        </article>
                        <article class="destac-hidden">
                            <img src="/img/article-3.jpeg" alt="Procesador">
                            <div class="info-prod">
                                <h4>Procesador Intel Core i9 12900</h4>
                                <p class="precio">Precio</p>
                                <button><a href="#">Ver mas</a></button>
                            </div>
                        </article>
                        <article class="v-Desktop">
                            <img src="/img/article-3.jpeg" alt="Procesador">
                            <div class="info-prod">
                                <h4>Procesador Intel Core i9 12900</h4>
                                <p class="precio">Precio</p>
                                <button><a href="#">Ver mas</a></button>
                            </div>
                        </article>
                        <article class="v-Desktop">
                            <img src="/img/article-3.jpeg" alt="Procesador">
                            <div class="info-prod">
                                <h4>Procesador Intel Core i9 12900</h4>
                                <p class="precio">Precio</p>
                                <button><a href="#">Ver mas</a></button>
                            </div>
                        </article>
                        <button class="controller"><i class="fa-solid fa-circle-chevron-right"></i></button>
                    </div>
                </section>
                <!--Contenido marcas-->
                <h2 class="subtitulos">Nuestras Marcas</h2>
                <section class="marcas">
                    <div class="lineas">
                        <img src="/img/marca-1.jpg" alt="Asus">
                    </div>
                    <div class="lineas marca-hidden">
                        <img src="/img/marca-2.png" alt="Asus">
                    </div>
                    <div class="lineas marca-hidden">
                        <img src="/img/marca-1.jpg" alt="Asus">
                    </div>
                    <div class="lineas v-Desktop">
                        <img src="/img/marca-1.jpg" alt="Asus">
                    </div>
                    <div class="lineas v-Desktop">
                        <img src="/img/marca-1.jpg" alt="Asus">
                    </div>
                </section>
                <!--Contenido ofertas-->
                <h2 class="subtitulos">Ofertas</h2>
                <section class="ofertas">
                    <div class="contenedor-dest">
                        <button class="controller"><i class="fa-solid fa-circle-chevron-left"></i></button>
                        <article>
                            <img src="/img/article-2.jpeg" alt="monitor">
                            <div class="info-prod">
                                <h4>Monitor Gamer 35 LG Full HD Ultrawide</h4>
                                <p class="precio">Precio</p>
                                <button><a href="#">Ver mas</a></button>
                            </div>
                        </article>
                        <article class="ofer-hidden">
                            <img src="/img/article-2.jpeg" alt="monitor">
                            <div class="info-prod">
                                <h4>Monitor Gamer 35 LG Full HD Ultrawide</h4>
                                <p class="precio">Precio</p>
                                <button><a href="#">Ver mas</a></button>
                            </div>
                        </article>
                        <article class="v-Desktop">
                            <img src="/img/article-2.jpeg" alt="monitor">
                            <div class="info-prod">
                                <h4>Monitor Gamer 35 LG Full HD Ultrawide</h4>
                                <p class="precio">Precio</p>
                                <button><a href="#">Ver mas</a></button>
                            </div>
                        </article>
                        <article class="v-Desktop">
                            <img src="/img/article-2.jpeg" alt="monitor">
                            <div class="info-prod">
                                <h4>Monitor Gamer 35 LG Full HD Ultrawide</h4>
                                <p class="precio">Precio</p>
                                <button><a href="#">Ver mas</a></button>
                            </div>
                        </article>
                        <button class="controller"><i class="fa-solid fa-circle-chevron-right"></i></button>
                    </div>
                </section>

            </main>
            <!--footer inicio!-->

            <%- include("partials/footer") %>