<%- include("partials/head") %>

<body class="Error-404">
    
    <div class="type-error">
    <h1><strong>¡Error 404!</strong></h1>
    <h2 class="error-404">Vuelve a intentarlo, algo no está bien!</h2>
    <h2 class="error-404">No te pierdas nuestros productos</h2>

    <button class="button-error" type="submit"><a href="/"> Volver al Inicio</a> </button>
    </div>

</body>
</html>