<%- include("partials/head") %>

    <body>
        <%- include("partials/header") %>
            <!--Header reutilizable-->

            <%- include("partials/navbar") %>
            <!-- Codigo reutilizable NAV_BAR.EJS-->
            <main>

            </main>


            <%- include("partials/footer") %>