/*Tablet*/
@media(min-width:460px) {

    /*Header*/
    .bloque_bot {
        display: none;
    }

    .bloque_sup {
        flex-wrap: nowrap;
        align-content: center;
    }

    .interno i:hover {
        background: white;
        border-color: black;
        color: black;
    }

    #logo {
        width: 25%;
    }

    #logo img {
        width: 100%;
        height: 100%;
    }

    .hidden_top {
        display: flex;
        width: 50%;
        align-items: center;
        padding: 0px 20px;
    }

    .hidden_top input {
        height: 35px;
    }

    .hidden_top i {
        line-height: 33px;
    }

    .botonera {
        width: 25%;
        transition: 500ms;
    }

    .hidden_p {
        display: block;
        font-size: 16px;
        padding-top: 5px;
    }

    .botonera a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container_nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        background: black;
        margin: 118px auto 0px;
        border-top: 2px solid white;
    }

    nav.hidden {
        display: block;
        width: 90%;
        margin: auto;
    }

    .hidden a:visited {
        color: white;
    }

    .hidden label {
        color: white;
        font-size: 14px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
    }

    .hidden input {
        display: none;
    }

    .hidden>ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
        column-gap: 5px;
    }

    .hidden>ul>li {
        line-height: 24px;
        font-size: 12px;
        padding: 3px 3px;
        text-align: center;
        position: relative;
        flex-grow: 1
    }

    .hidden i {
        color: white;
        padding-bottom: 3px;
        transition: 500ms;
    }

    .subcategory {
        position: absolute;
        top: 50px;
        background-color: black;
        width: 100%;
        transition: .3s ease-in-out;
        visibility: hidden;
    }
    .subcategory li {
        font-size: 10px;
        height: 40px;
        text-transform: uppercase;
        text-align: center;
        border-bottom: 1px solid white;
        border-left: 1px solid white;
        border-right: 1px solid white;
        border-top: transparent;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
    }
    #last_li{
        height: auto;
    }
    .servicesList{
        width: 100px;
    }
    .hidden>ul>li:hover .subcategory{
        top: 30px;
        visibility: visible;
        opacity: 1;
        z-index: 10;
    }
    /*Pago*/
    .formas-pago {
        flex-direction: row;
        align-content: center;
        justify-content: center;
        column-gap: 20px;
        flex-wrap: wrap;
    }

    .formas-pago div {
        width: 120px;
        height: 80px;
    }

    /*Carrusel*/
    .carrusel{
        margin-top: 50px;
        z-index: 50;
    }
    .carrusel img {
        height: 175px;
    }

    /*Destacados*/
    .contenedor-dest,.contenedor-ofer,.contenedor-interes {
       grid-template-columns: repeat(5, 255px);
    }
    .destacados article,
    .ofertas article,.contenedor-interes article {
        width: 220px;
        border-radius: 7px;
    }

    .destacados img,
    .ofertas img {
        width: 150px;
        height: 150px;
    }

    .info-prod h4 {
        font-size: 14px;
    }

    /*Marcas*/
    .marca-hidden {
        display: block;
    }

    .marcas {
        width: 100%;
        justify-content: space-around;
    }

    .lineas {
        width: 125px;
        height: 125px;
    }

    .lineas img {
        width: 125px;
        height: 125px;
    }

    /*Ofertas*/
    .ofer-hidden {
        display: flex;
    }
    .pc__container{
        flex-direction: row;
        column-gap: 5px;
        row-gap: 0;
    }
    .pc_image1,.pc_image2,.pc_image3{
        row-gap: 0;
        width: 200px;
    }
    .pc_image1::before,.pc_image2::before,.pc_image3::before{
        width: 200px;
    }
    /*Footer*/
    footer {
        display: none;
    }

    .desktop {
        display: flex;
        flex-direction: row;
        color: white;
        justify-content: space-around;
        background-color: black;
        width: 100%;
    }

    .footer_list {
        width: 25%;
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer nav a {
        text-decoration: none;
        color: white;
        font-size: 16px;
        line-height: 1.5rem;
    }

    footer h2 {
        color: rgb(43, 235, 9);
        font-size: 14px;
        text-align: center;
        margin: 10px auto;
        text-transform: uppercase;
    }

    .info__local {
        margin: 0px 0px;
    }

    .us p {
        font-size: 12px;
        text-align: center;
    }

    .Red ul li {
        line-height: 1.5rem;
    }

    .Red ul li a {
        display: flex;
        column-gap: 5px;
        align-items: center;
    }

    /*----------------------------------------------------------------------------------*/
    /*Product-detail.html*/
    .camino{
        margin-top: 60px;
        column-gap: 10px;

    }
    .detalle_prod {
        row-gap: 30px;
    }

    #vista-tablet {
        flex-direction: row;
        width: 100%;
        column-gap: 15px;
        height: 300px;
    }

    #more-img {
        order: -1;
        flex-direction: column;
        width: 80px;
        justify-content: center;
        row-gap: 15px;
        height: 260px;
    }

    #img-principal {
        height: 260px;
    }

    #img-principal img {
        width: 100%;
        padding: 5px;
        height: 100%;
        outline: 1px solid black;
    }

    #filtro-marca {
        display: none;
    }

    #filtro-marca-v2 {
        display: block;
        align-self: flex-end;
        padding-right: 100px;
        font-size: 12px;
    }

    div#info-pago {
        height: 250px;
        justify-content: center;
        row-gap: 10px;
    }

    div#info-pago>h4 {
        font-size: 26px;
    }

    div#info-pago>p {
        font-size: 16px;
    }
    div#info-pago>p#precio-cuotas{
        column-gap: 0;
    }
    .boton-compra button {
        width: 70%;
        align-self: center;
    }

    #specs {
        padding: 10px;
    }

    #info-contenido {
        width: 80%;
    }
    /*----------------------------------------------------------------------------------*/
    /*Login.html*/
    #ventana {
        width: 50%;
        margin: 40px auto;
        padding: 20px;
    }

    .go-to-regis {
        width: 80%;
    }

    /*----------------------------------------------------------------------------------*/
    /*Register.html**/
    .ventana-register {
        width: 50%;
        row-gap: 20px;
        padding: 25px;
    }

    /*----------------------------------------------------------------------------------*/
    /*product-cart.html*/
    .cart_contain_descrip {
        height: 150px;
    }

    .cart_contain_prod_img,
    .cart_contain_prod,
    .cart_contain_count,
    .cart_contain_total {
        width: 22.5%;
    }

    .cart_contain_prod_img {
        display: flex;
        height: 150px;
    }

    .cart_contain_prod_img img {
        padding: 5px;
        width: 100%;
        height: auto;
    }

    .cart_contain>.ant-next>button {
        width: 20%;
    }

    /*----------------------------------------------------------------------------------*/
    /*cart-ship*/
    .cart_contain_ship {
        height: 200px;
    }

    /*----------------------------------------------------------------------------------*/
    /*cart-pay*/
    .cart_contain_pay {
        height: 175px;
        margin: 20px 0px;
    }

    /*----------------------------------------------------------------------------------*/
    /*cart-resume*/
    .cart_contain_resume,
    .cart_contain_option_ship {
        height: 150px;
    }

    .cart_contain_option_ship>.cart_contain_prod_img {
        justify-content: center;
        align-items: center;
    }

    .cart_contain_prod_img i {
        font-size: 30px;
    }

    .cart_contain_cancel .none {
        visibility: hidden;
    }

    #adress {
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
    }

    .adress_top,
    .adress_bot {
        width: 45%;
    }

    /*---------------------------------------------------------------------------------------------*/
    /*product-list*/
    main#list{
        margin-top: 75px;
    }
    .list__category {
        width: 360px;
        margin: auto;
    }

    .list__container_product {
        flex-direction: row;
        width: 100%;
    }

    .list__container_product>.producto {
        width: 35%;
        box-shadow: 5px 5px 30px rgb(100, 100, 100);
    }
    /***************************************************/
                        /*Profile*/
    .contain__profile{
        width: 90%;
        margin-top: 85px;
    }
    .contain_profile_data>form{
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 30px;
        grid-template-rows: 350px 100px;
        grid-row-gap: 5px;
    }
    .contain_profile_data>form>.other{
        width: 100%;
    }
    .contain_profile_data>form>button{
        grid-column: 3 / 4;
    }
    .contain_profile_data>form>.log-out{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .edit>form{
        max-width: 400px;
        
    }
    .botones>.edit{
        max-width: 400px;
        margin: auto;
    }
    .botones>.edit>button{
        margin: 0;
    }
}

@media(min-width:769px) {

    /*Header*/
    .bloque_sup {
        width: 90%;
        /* margin-left: 10%; */
        max-width: 1280px;
        margin: auto;
    }

    #logo img {
        width: 200px;
    }

    .botonera div {
        justify-content: end;
        column-gap: 30px;
    }

    .botonera a {
        border-radius: 5px;
        padding: 5px;
        transition: 50ms;
    }

    .botonera a:hover {
        outline: 2px solid white;
    }

    /*nav header*/
    .container_nav{
        margin-top: 136px;
    }
    .carrusel{
        margin-top: 80px;
    }
    .hidden>ul {
        align-items: center;
        column-gap: 10px;
        height: 40px;
        justify-content: center;
    }

    nav.hidden {
        padding: 0px;
        height: 40px;
    }

    .subcategory li {
        padding-top: 0px;
        font-size: 12px;
    }
    .hidden>ul>li {
        font-size: 16px;
        transition: 500ms;
        line-height: 40px;
        padding: 0px;
        transition: all .3s;
    }

    .hidden>ul>li:hover {
        background-color: rgb(43, 235, 9);
    }

    .interno i:hover {
        background: white;
        outline: 1px solid black;
        color: black;
    }

    .subcategory>li:hover {
        background-color: rgb(43, 235, 9);
        transform: scale(1.1);
    }
    .hidden>ul>li:hover .subcategory{
        top: 40px;
    }
    .servicesList>li>a{
        line-height: 22px;
    }
    /*Carrusel*/
    .carrusel img {
        height: 300px;
    }

    /*Main*/
    .formas-pago {
        flex-direction: row;
        align-content: center;
        justify-content: center;
        column-gap: 20px;
        flex-wrap: wrap;
    }

    .formas-pago div {
        width: 140px;
        height: 100px;
        row-gap: 15px;
        padding: 5px;
    }

    .formas-pago b,
    .formas-pago i {
        font-size: 14px;
    }

    /*destacados,ofertas*/
    main {
        width: 90%;
        margin-bottom: 40px;
        row-gap: 25px;
    }
    .contenedor-dest,
    .contenedor-ofer,.contenedor-interes {
        grid-template-rows: 350px;
    }
    article{
        transition: 400ms;
    }
    .marcas {
        justify-content: center;
        column-gap: 50px;
    }
    .pc__container{
        justify-content: center;
        column-gap: 10px;
        margin-top: 0;
        background-image: url("/img/fondoPC.jpg");
        background-position: top;
        border-radius: 8px;
        padding: 10px;
        width: 90%;
        margin: auto;
    }
    .pc_image1,.pc_image2,.pc_image3{
        width: 260px;
    }
    .pc_image1:hover::before,.pc_image2:hover::before,.pc_image3:hover::before{
        bottom:0px;
        height: 50px;
    }
    .pc_image1::before,.pc_image2::before,.pc_image3::before{
        width: 260px;
        bottom: 0px;
    }

    /*Footer*/
    .footer_container{
        background-color: black;
    }
    .footer_container>footer{
        width: 90%;
        max-width: 1280px;
        margin: auto;
    }
    .footer_hidden {
        display: block;
        text-align: center;
        margin: 20px;
    }
    #fot_boton {
        width: 60px;
        margin: auto;
    }

    .us p {
        font-size: 14px;
        font-weight: 500;
    }

    footer nav {
        font-weight: 700;
        line-height: 25px;
    }

    /*----------------------------------------------------------------------------------*/
    /*Product-detail.html*/
    .camino{
        margin: 100px auto 10px;
        width: 80%;
    }
    main#product_detail {
        width: 80%;
    }

    .detalle_prod {
        width: 100%;
        margin: auto;
        align-items: start;
    }

    #more-img {
        justify-content: flex-start;
        height: 320px;
        margin-top: 15px;
        overflow: hidden;
        width: 100px;
    }
    #more-img>.images{
        width: 100%;
        height: 100px;
    }


    div#img-principal {
        width: 350px;
        height: 320px;
        margin: auto 0;
    }

    div#info-pago {
        align-self: center;
        width: 250px;
        row-gap: 30px;
        height: auto;
    }

    div#info-pago>p#precio-cuotas{
        column-gap: 10px;
    }
    #counter>input {
        width: 30px;
    }

    p#garantia {
        gap: 0;
    }

    #vista-tablet {
        justify-content: start;
        column-gap: 30px;
        height: 350px;
    }

    #product_detail h4 {
        font-size: 20px;
    }

    h4#title {
        align-self: center;
        font-size: 24px;
        width: 50%;
        text-align: center;
    }

    div#specs {
        column-gap: 80px;

    }

    #info-contenido {
        width: 70%;
        text-align: center;
        line-height: 20px;
    }

    #info-contenido>#descrip {
        width: 100%;
    }

    #info-contenido>h4 {
        margin: 20px 0px;
        line-height: 32px;
    }

    /*----------------------------------------------------------------------------------*/
    /*Login.html*/
    #ventana {
        width: 40%;
        margin: 100px auto 60px;
        transition: .5s;
    }

    #ventana:hover {
        box-shadow: 5px 5px 50px white;
    }

    .ingreso-con-red {
        width: 60%;
        height: 30px;
    }

    #ventana>form>input {
        font-size: 16px;
        line-height: 26px;
    }

    .go-to-regis {
        width: 70%;
    }

    /*----------------------------------------------------------------------------------*/
    /*Register.html*/
    .ventana-register {
        width: 35%;
        transition: .5s;
        margin-top: 100px;
    }

    .ventana-register:hover {
        box-shadow: 5px 5px 50px white;
    }

    .ventana-register button:hover {
        background-color: black;
        color: rgb(43, 235, 9);
    }

    #form-date {
        flex-direction: row;
        width: 100%;
        column-gap: 10px;
        justify-content: space-between;
    }

    #form-date div {
        width: 45%;
    }

    .ventana-register>form>input {
        font-size: 16px;
        line-height: 24px;
    }

    .ventana-register form {
        row-gap: 3px;
    }

    /*----------------------------------------------------------------------------------*/
    /*product-cart.html*/
    main#cart {
        flex-direction: row;
        column-gap: 5%;
        justify-content: space-around;
    }

    .cart_contain_descrip {
        width: 100%;
    }

    .cart_contain {
        row-gap: 15px;
    }

    .cart_category_list {
        display: flex;
        flex-direction: column;
        width: 30%;
        height: auto;
        justify-content: center;
    }

    .cart_contain>p:first-child {
        font-size: 14px;
        width: 120px;
    }

    .cc_list_contain {
        background-color: black;
        display: flex;
        flex-direction: column;
        color: white;
    }

    .cc_list {
        display: flex;
        column-gap: 10px;
        padding: 5px;
        border: 1px solid black;
    }

    .cc_list_contain>h3 {
        padding: 5px;
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 5px;
    }

    /*----------------------------------------------------------------------------------*/
    /*cart-ship*/
    main#cart_ship {
        flex-direction: row;
        width: 65%;
        justify-content: space-around;
        column-gap: 5%;
    }

    .cart_contain {
        width: 100%;
    }

    /*----------------------------------------------------------------------------------*/
    /*cart-pay*/
    .cart_contain_pay {
        margin: 0px 0px;
    }

    .cart_contain_ops_pay {
        row-gap: 50px;
    }

    /*---------------------------------------------------------------------------------------------*/
    /*product-list*/
    main#list {
        /* flex-flow: row wrap;
        width: 95%;
        max-width: 1200px;
        margin-top: 80px; */
        display: grid;
        grid-template-columns: 250px 1fr;
        grid-template-rows: 100vh;
        overflow-y:scroll;
    }

    main#list .list__category {
        grid-template-columns: 200px;
        grid-template-rows: 360px 200px 100px 100px;
        width: 220px;
        margin: 30px 0 ;
        height: min-content;
    }
    .list__category_filtros_right{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        height: 250px;
    }
    .btn_create{
        grid-row: 4 / 5;
    }
    #clear_contain{
        grid-row: 3 / 4;
    }
    .list__category {
        flex-flow: column wrap;
        justify-content: center;
        align-items: start;
    }

    main#list .list__container_product {
        gap: 15px;
        justify-content: center;
        margin-top: 35px;

    }

    .list__container_product>.producto {
        width: 30%;
        margin: 0px;
        box-shadow: none;
    }

    .list__container_product>.producto>.info-prod {
        width: 100%;
    }

    .list__container_product>article:hover {
        transform: none;
        box-shadow: 5px 5px 30px rgb(100, 100, 100);
    }
    .contain__profile{
        width: 70%;
        margin-top: 95px;
    }
    .contain_profile_data>form>button{
        grid-column: 2 / 3;
        background-color: black;
        color:rgb(43, 235, 9);
        width: 150px;

    }
    .contain_profile_data>form>.log-out{
        grid-column: 1 / 0;
        background-color: black;
        width: 150px;
    }
    .contain_profile_data>form>.log-out>a{
        color:rgb(43, 235, 9);
    }
    .container-edicion-producto{
        margin-top: 80px;
    }
    .botones{
        justify-content: center;
    }
    .button-confirmar, .button-borrar{
        max-width: 250px;
    }
    .edit{
        margin: auto;
    }
    #sectionRegister{
        height: 100vh;
    }
    #titleFormCreate{
        top: 60px;
    }
    .list__category .filter{
        width: 70%;
    }
}

/*------------------------*/
@media(min-width:1025px) {

    /*nav-bar*/
    .hidden>ul>li:hover .subcategory{
        top: 30px;
        visibility: visible;
        opacity: 1;
        z-index: 10;
    }
    .servicesList{
        width: 100%;
    }
    .servicesList>li#last_li{
        height: 40px;
    }
    /*Carrusel*/
    .carrusel img {
        height: 400px;
    }

    /*main*/
    main {
        max-width: 1400px;
    }

    .contenedor-dest,
    .contenedor-ofer,.contenedor-interes {
        column-gap: 15px;
    }

    .contenedor-dest>article,
    .contenedor-ofer>article {
        width: 220px;
    }

    article:hover {
        box-shadow: 5px 5px 30px rgb(43, 235, 9);
    }

    .destacados,
    .ofertas,.section__container {
        overflow: visible;
        display: flex;
        flex-wrap: wrap;
    }

    /**index.html*/
    nav.hidden {
        width: 90%;
        max-width: 1280px;
    }

    .hidden>ul>li:hover .subcategory {
        top: 40px;
        opacity: 1;
        z-index: 10;
        display: block;
    }

    .subcategory>li:hover {
        font-weight: 700;
    }

    /*Product-detail*/
    .camino{
        width: 70%;
    }
    .detalle_prod {
        width: 70%;
    }

    #vista-tablet {
        column-gap: 0px;
        justify-content: space-around;
        height: 400px;
    }
    div#img-principal{
        width: 400px;
        height: 400px;
        padding: 0;
    }
    #more-img {
        width: 140px;
    }
    #more-img>.images{
        height: 140px;
    }
    #info-contenido>h4 {
        font-size: 24px;
        line-height: 36px;
    }

    #info-contenido>p {
        font-size: 16px;
        line-height: 24px;
    }

    #specs>* {
        font-size: 16px;
        line-height: 24px;
    }

    .contenedor-interes>article:hover {
        box-shadow: 5px 5px 30px rgb(100, 100, 100);
    }
    /*----------------------------------------------------------------------------------*/
    /*Login.html*/
    #ventana {
        width: 25%;
        margin: 100px auto;
    }

    .go-to-regis {
        width: 60%;
    }

    .ventana-register {
        width: 25%;
    }

    /*----------------------------------------------------------------------------------*/
    /*Product-cart.html*/
    main#cart {
        max-width: 62%;
    }

    .cart_contain {
        width: 90%;
    }

    .cart_contain_descrip {
        height: 200px;
    }

    .cart_contain_title {
        font-size: 26px;
    }

    .cart_contain_prod_img,
    .cart_contain_prod,
    .cart_contain_count.cart_contain_total {
        width: 22.5%;
    }

    .cart_contain_prod_img img {
        width: 75%;
        height: 100%;
    }

    .cart_contain_prod_img {
        justify-content: center;
    }

    .cart_contain>.ant-next>button {
        width: 10%;
    }

    /*----------------------------------------------------------------------------------*/
    /*cart-ship*/
    main#cart_ship {
        max-width: 80%;
    }

    .cart_contain_ship {
        background-color: #dbdbdb;
    }

    .cart_contain_ops {
        background-color: white;
        border: 1px solid black;
        padding: 20px;
    }

    /*----------------------------------------------------------------------------------*/
    /*cart-pay*/
    .cart_contain_ops_pay {
        row-gap: 60px;
        padding: 20px 0px;
        background-color: white;
        border: 1px solid black;

    }

    .cart_contain_pay {
        background-color: #dbdbdb;
    }

    .cc_pay_mark_1,
    .cc_pay_mark_2 {
        font-size: 20px;
    }

    /*----------------------------------------------------------------------------------*/
    /*cart-resume*/
    .cart_contain_resume {
        height: 200px;
    }

    /* <<<<<<< HEAD */

    /*----------------------------------------------------------------------------------*/
    /* edicion producto */
    .container-edicion-producto {
        max-width: 1200px;
        margin: auto;
        margin-top: 100px;
    }


    /*-------------------------------------------------------------------------------------*/
    /*Product_list*/
    main#list {
        overflow-y:visible;
        grid-template-rows: 100%;
        grid-template-columns: 250px 900px;
        max-width: 1200px;

    }
    main#list .list__container_product {
        gap: 15px;
        height: min-content;
    }

    .list__container_product>.producto {
        width: 25%;
    }
    /*----------------------------------------------------------------------------------*/
                                        /*Profile*/
    .contain__profile{
        max-width: 860px;
        margin-top: 95px;
        transition: .3s ease;
    }
    .contain__profile:hover{
        box-shadow: 5px 5px 50px white;
    }
    .contain_profile_data>form>button{
        grid-column: 3 / 4;
        width: 150px;
    }
    .contain_profile_data>form>button:hover,.contain_profile_data>form>.log-out:hover>a{
        background-color: rgb(43, 235, 9);
        color: black;
        font-weight: 700;
    }
    /*Register*/
    #sectionRegister{
        height: 90vh;
    }
    #titleFormCreate{
        top: 75px;
        left:110px;
    }
}
