<div class="cart_category_list">
    <div class="cc_list_contain">
        <h3><i class="fa-solid fa-cart-shopping"></i>Mi carrito</h3>
        <div class="cc_list prod"><i
                class="fa-solid fa-rectangle-list"></i>
            <p>Mis Productos</p>
        </div>
        <div class="cc_list"><i class="fa-solid fa-truck-fast"></i>
            <p>Mi entrega</p>
        </div>
        <div class="cc_list"><i class="fa-solid fa-money-bill"></i>
            <p>Forma de pago</p>
        </div>
        <div class="cc_list"><i class="fa-regular fa-square-check"></i>
            <p>Resumen</p>
        </div>
    </div>
</div>