<footer>
    <div class="info__local">
        <h2 class="sub_h2">Contactanos!</h2>
        <p>Direccion: Calle falsa 123,CABA</p>
        <p>Horario de atención: Lunes a viernes de 9hs a 18hs</p>
        <p>Telefono: 1234-5678</p>
    </div>
    <div class="suscription">
        <h2 class="sub_h2">Nosotros</h2>
        <p>En Hard-Tech buscamos destacar por nuestro conocimiento e intentamos establecernos como la opción
            ideal para sus compras de tecnología.</p>
    </div>
    <div id="social_red">
        <h2 class="sub_h2">Seguinos en nuestras Redes</h2>
        <ul>
            <li><a href="#" class="Redes"><i class="fa-brands fa-square-facebook"></i>Facebook</a></li>
            <li><a href="#" class="Redes"><i class="fa-brands fa-instagram"></i>Instagram</a></li>
            <li><a href="#" class="Redes"><i class="fa-brands fa-whatsapp"></i>Whatsapp</a></li>
        </ul>
    </div>
</footer>
<footer class="desktop">
    <div class="footer_list cat">
        <h2>Categorias</h2>
        <nav>
            <ul>
                <li><a href="/product/list/Motherboard">MotherBoards</a></li>
                <li><a href="/product/list/Procesadores">Procesadores</a></li>
                <li><a href="/product/list/Memorias">Memorias RAM</a></li>
                <li><a href="/product/list/Fuentes">Fuentes</a></li>
                <li><a href="/product/list/Gabinetes">Gabinetes</a></li>
                <li><a href="/product/list/Almacenamiento">Almacenamiento</a></li>
                <li><a href="/product/list/GPUs">Placas de video</a></li>
            </ul>
        </nav>
    </div>
    <div class="footer_list mark">
        <h2>Marcas</h2>
        <nav>
            <ul>
                <li><a href="#">Asus</a></li>
                <li><a href="#">Gigabyte</a></li>
                <li><a href="#">MSI</a></li>
                <li><a href="#">Sentey</a></li>
                <li><a href="#">HyperX</a></li>
                <li><a href="#">Corsair</a></li>
            </ul>
        </nav>
    </div>
    <div class="footer_list us">
        <h2 class="sub_h2">Nosotros</h2>
        <p>En Hard-Tech buscamos destacar por nuestro conocimiento e intentamos establecernos como la opción
            ideal para sus compras de tecnología.</p>
        <div class="info__local">
            <h2 class="sub_h2">Contactanos!</h2>
            <p>Direccion: Calle falsa 123,CABA</p>
            <p>Horario de atención: Lunes a viernes de 9hs a 18hs</p>
            <p>Telefono: 1234-5678</p>
        </div>
    </div>
    <div class="info__local footer_hidden">
        <div class="suscrip">
            <h2>Suscribite</h2>
            <input type="text" placeholder="Email">
            <button id="fot_boton">Enviar</button>
        </div>
        <h2 class="sub_h2">Contactanos!</h2>
        <p>Direccion: Calle falsa 123,CABA</p>
        <p>Horario de atención: Lunes a viernes de 9hs a 18hs</p>
        <p>Telefono: 1234-5678</p>
    </div>
    <div class="footer_list Red">
        <h2 class="sub_h2">Seguinos en nuestras Redes</h2>
        <nav>
            <ul>
                <li><a href="#" class="Redes"><i class="fa-brands fa-square-facebook"></i>Facebook</a></li>
                <li><a href="#" class="Redes"><i class="fa-brands fa-instagram"></i>Instagram</a></li>
                <li><a href="#" class="Redes"><i class="fa-brands fa-whatsapp"></i>Whatsapp</a></li>
            </ul>
        </nav>
    </div>
</footer>
<a href="#" id="whats"><img src="/img/whatsapp.png" alt="whatsapp"></a>

