<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header") %>
            <!--Header reutilizable-->

            <%- include("../partials/navbar") %>
                <!-- Codigo reutilizable NAV_BAR.EJS-->
                <main id="profile_main">
                    <div class="contain__profile">
                        <h3>Mi cuenta</h3>
                        <div class="contain_profile_data">
                            <form action="" method="post">
                                <div class="info_personal">
                                    <h4>Datos Personales</h4>
                                <label for="name">Nombre y apellido</label>
                                <input type="text" name="name" value="">
                                <label for="documento">DNI</label>
                                <input type="text" name="documento" value="">
                                <label for="telefono">Telefono</label>
                                <input type="number" name="telefono" value="">
                                </div>
                                <div class="info_domicilio">
                                    <h4>Mi Domicilio</h4>
                                <label for="adress">Domicilio</label>
                                <input type="text" name="adress" value="">
                                <label for="section">Piso/Depto</label>
                                <input type="text" name="section" value="">
                                <label for="location">Localidad</label>
                                <input type="text" name="location" value="">
                                </div>

                                <div class="other">
                                    <h4>Otros Datos</h4>
                                <label for="email">Email</label>
                                <input type="email" name="email" value="">
                                <h4>Imagen perfil</h4>
                                <input type="file" name="" id="">
                                </div>

                                <button type="submit">Actualizar Datos</button>
                                <button type="" class="log-out">Cerrar Sesión</button>
                            </form>

                        </div>

                </main>

                <%- include("../partials/footer") %>